html body{
    height: 100%;
    display: grid;
    grid-template-columns: 10% minmax(15px, auto) min-content max-content min-content minmax(15px, auto) 10%;
    grid-template-rows: 200px minmax(80px, auto) minmax(300px, auto) minmax(10px, auto) 70px ;  
    margin: 0px; 
    text-align: center;   
    background-color: wheat;
}

.menu button {
    width: 100%;
    background-color: #b9284c;
    padding: 7px 12px;
    margin:0 auto;
    color:white;
    display: block;
    font-size: 20px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: transparent;
    border-right-color: transparent;
    text-align: center;
}

#select-puzzle-button{
    border-bottom-color: transparent;
    background-color: transparent;
}

#puzzle-input {
    width: 50px;
}

#submit-puzzle-number-button{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3px;
}

#main-page {
    background-color: rgb(255, 246, 233);
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    overflow-x: scroll;
    text-align: center;
}

.menu {
    background-color: #b9284c;
    grid-row-start: 1;
    grid-row-end: 6;
}

#left-menu {
    grid-column-start: 1;
}

#right-menu {
    grid-column-start: 7;
}

#user-info-container{
    text-align: center;
}

#username-display{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding: 7px 12px;
    font-weight: bold;

}

.user-record {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding: 7px 12px;
}

.alley {
    grid-row-start: 1;
    grid-row-end: 6; 
    background-color: teal;
}

#left-alley {
    grid-column-start: 2;
    grid-column-end: 3;
}

#right-alley {
    grid-column-start: 6;
    grid-column-end: 7;
}

#page-header{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.params {
    background-color: white;
}

#top-column-params{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    border-left: 2px solid black;
}

#bottom-column-params{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

#left-row-params{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#right-row-params{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#error-message{
    color: red;
    font-weight: bold;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
}
#page-title-container{
    text-align: center;
}

#credits {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 6;
}

button {
    background-color: #b9284c;
    padding: 7px 12px;
    margin:0 auto;
    color:white;
    display: block;
    font-size: 12px;
    border-radius: 4px;
}

#left-menu button:hover, #right-menu button:hover {
    background-color: #8b203b 
}

#left-menu div:hover {
    background-color: #8b203b 
}

#column-params-row-1 {
    border-top: 3px solid black;
}

.column-params-square, .bold-left-column-params-square, .bold-right-column-params-square {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border-right: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    height: 22px;
    width: 22px;
    line-height: 22px;
    vertical-align: top;
}

.bold-left-column-params-square {
    border-left: 3px solid black;
}

.bold-right-column-params-square {
    border-right: 4px solid black;
}

.individual-row-param, .bold-top-row-param {
    display: inline-block;
    margin: 0 auto;
    border-bottom: 1px solid black;
    width: 100%;
    border-left: 3px black solid;
    border-right: 0px;
    height: 22px;
    line-height: 22px;
    text-align: right; 
}

.bold-top-row-param {   
    border-top: 3px solid black; 
}

#row-1-params{
    border-top: 3px solid black;
}

#row-25-params{
    border-bottom: 4px solid black;
}

#puzzle-board{
    display: block;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
}

.puzzle-board-row{
    border-right: 1px solid black;
}

#row-25{
    border-bottom: 3px solid black;
}

.puzzle-square, .bold-top-puzzle-square, .bold-left-puzzle-square, .bold-top-and-left-puzzle-square{
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    height: 22px;
    width: 22px;
    line-height: 22px;
    vertical-align: top;
}


.bold-top-puzzle-square {
    border-top: 3px solid black;;
}

.bold-left-puzzle-square {
    border-left: 3px solid black;;
}

.bold-top-and-left-puzzle-square {
    border-left: 3px solid black;
    border-top: 3px solid black;
}

[status = "0"] {
    background-color: white;
    /* background-color: rgb(233, 233, 233); */
}

[status = "1"] {
    background-color: rgb(63, 63, 63);
}

[highlighted = true] {
    background-color: rgb(116, 116, 116);
}

[status = "party"] {
    background-color: rgb(35, 247, 16);
}

[status = "incorrect"] {
    background-color: rgb(255, 67, 67);
}
