html, body{
    height: 100%;
}

button {
    background-color: #b9284c;
    padding: 7px 12px;
    margin:0 auto;
    color:white;
    display: block;
    font-size: 12px;
    border-radius: 4px;
}

.puzzle {
    min-width: 750px;
    border: 3px black solid;
    display: inline-block
}

/* .table-row {
    display: inline-block
} */

.column-parameters {
    margin: 0px;
}

.blank-square {
    display: inline-flex;
    border-right: 1px solid black;
    border-left: 2px solid black;
    vertical-align: top;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    /* min-width: 60px;
    max-width: 200px; */
    width: 150px;
    line-height: 22px;
}

.column-params-square {
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 20px;
    line-height: 22px;
    vertical-align: top;
}

.bold-left-column-params-square {
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 3px solid black;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 20px;
    line-height: 22px;
    vertical-align: top;
}

.row-params {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid black;
    border-left: 2px solid black;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 150px;
    line-height: 22px;
    text-align: right;
}

.bold-top-row-params {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid black;
    border-left: 2px solid black;
    border-top: 3px solid black;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 150px;
    line-height: 22px;
    text-align: right;
}

.puzzle-square {
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 20px;
    line-height: 22px;
    vertical-align: top;
}

.bold-top-puzzle-square {
    text-align: center;
    border: 1px solid black;
    border-top: 3px solid black;;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 20px;
    line-height: 22px;
    vertical-align: top;
}

.bold-left-puzzle-square {
    text-align: center;
    border: 1px solid black;
    border-left: 3px solid black;;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 20px;
    line-height: 22px;
    vertical-align: top;
}

.bold-top-and-left-puzzle-square {
    text-align: center;
    border: 1px solid black;
    border-left: 3px solid black;
    border-top: 3px solid black;
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    height: 22px;
    width: 20px;
    line-height: 22px;
    vertical-align: top;
}

[status = "0"] {
    background-color: rgb(223, 223, 223);
}

[status = "1"] {
    background-color: rgb(63, 63, 63);
}

/* .blank-square {
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    padding-left: .5%;
    padding-right: .5%;
    height: 19px;
    width: 24px;
    line-height: 19px;
    vertical-align: top;
} */